.pizzaContainer {
	margin-top: 66px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 50px;
}
.pizzaCard {
	width: 285px;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.pizzaImage {
	width: 285px;
	height: 260px;
	border-radius: 15px;
	background-color: bisque;
}
.pizzaName {
	margin-top: 15px;
	font-size: 22px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 7px;
}
.description {
	font-size: 14px;
	font-weight: 400;
	color: #b1b1b1;
	margin-bottom: 5px;
}
.ingredient {
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 700;
	color: black;
}
.ingredientsList {
	font-size: 14px;
	font-weight: 400;
	color: #b1b1b1;
	margin-bottom: 13px;
}
.basket {
	display: flex;
	justify-content: space-between;
}
.price {
	font-size: 20px;
	font-weight: 400;
	color: #000000;
}
.btnBasket {
	background-color: #fffaf4;
	color: #fe5f00;
	padding: 11px 17px;
	border: none;
	border-radius: 15px;
}
